body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210813/pngtree-tech-geometric-gray-block-abstract-futuristic-art-modern-white-background-image_760651.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.advcaptcha-container {
  margin-top: 50px;
  height: 100px;
  width: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.advcaptcha-switch {
  top: 50%;
transform: translateY(-50%);
}

.advcaptcha-notarobot-text {
  margin-left: 80px;
}

#random-img {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: static;
  z-index: 999;
}

.dialog-popup {
  width: 500px;
  position: static;
  height: 500px;


}

.dialog-container {
  width: 1400px;
  height: 600px;
  align-items: center;
  position: fixed;
  align-items: center;
}

#img-container {
  align-items: center;
  position: static;
  z-index: 1;

}

.canvas-style {
  border: 3px solid black;
  width: 250px;
  height: 250px;
  background-image: url('https://images.unsplash.com/photo-1594084442492-890cdf85dbcf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2F2YW5uYWglMjBjYXR8ZW58MHx8MHx8&w=1000&q=80');
  background-size: 250px;
}

.textfield-input {
  position: fixed;
  bottom: 0;
  right: 0;
}

.rectangle {
  border: 5px solid #FF0000;
  position: absolute;
  z-index: 999;
}

.navbar-logo {
  width: 50px;
  height: 50px;
}

.appbar {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
}

.about-advcaptcha {
  margin-top: 200px;
  width: 1000px;
  height: 450px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formgroup {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.advcaptcha-under-logo {
  font-size: 10px;
}

.logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus-main-paper {
  margin-top: 150px;
  width: 1000px;
  height: 1900px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-is-advcaptcha {
  margin-top: 40px;
  text-decoration: underline;
}

.cat-example {
  width: 1000px;

}

.advcaptcha-prompt {
  font-family: 'Courier New', monospace;
}

.cat-example-ac{
  width: 495px;
  height: 495px;
}
.horizontal-line {
  color: black;
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
.adv-captcha-photo {
  width: 500px;
  height: 230px
}

